body{
    background-image: url(fundo.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    height: 92vh;
    font-size: 15pt;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif; 
}
h1{
    color: rgb(224, 47, 47);
}
